@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.navLink:hover {
  color: #b2b09d;
}
.empower {
  background: rgb(38, 72, 71);
  background: -moz-linear-gradient(
    180deg,
    rgba(38, 72, 71, 1) 16%,
    rgba(40, 72, 71, 0.47102591036414565) 90%,
    rgba(6, 46, 45, 1) 90%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(38, 72, 71, 1) 16%,
    rgba(40, 72, 71, 0.47102591036414565) 90%,
    rgba(6, 46, 45, 1) 90%
  );
  background: linear-gradient(
    180deg,
    rgba(38, 72, 71, 1) 16%,
    rgba(40, 72, 71, 0.47102591036414565) 90%,
    rgba(6, 46, 45, 1) 90%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#264847",endColorstr="#062e2d",GradientType=1);
}
.rotate-triangle {
  transform: rotate(180deg);
}
