@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root::-webkit-scrollbar {
  background-color: #b2b09d;
}
:root::-webkit-scrollbar-thumb {
  background-color: #507165;
} */
.navLink:hover {
  color: #b2b09d;
}
.empower {
  background: rgb(38,72,71);
background: -moz-linear-gradient(180deg, rgba(38,72,71,1) 16%, rgba(40,72,71,0.45702030812324934) 60%, rgba(6,40,39,0.8323704481792717) 85%, rgba(6,46,45,1) 85%);
background: -webkit-linear-gradient(180deg, rgba(38,72,71,1) 16%, rgba(40,72,71,0.45702030812324934) 60%, rgba(6,40,39,0.8323704481792717) 85%, rgba(6,46,45,1) 85%);
background: linear-gradient(180deg, rgba(38,72,71,1) 16%, rgba(40,72,71,0.45702030812324934) 60%, rgba(6,40,39,0.8323704481792717) 85%, rgba(6,46,45,1) 85%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#264847",endColorstr="#062e2d",GradientType=1);
}
